<div class='homepage'>
	<div class='hp-header'>
		<div class='hp-header-text-p1'> Tyler S. Sullivan </div>
		<div class='hp-boxes'>
			<div class='flex'>
				<div class='box-1'>
					<div class='box-title'>
						Marketing
					</div>
					<ul class='bullets'>
					</ul>
				</div>
				<div class='box-2'>
					<div class='box-title'>
						Analytics
					</div>
					<ul class='bullets'>
					</ul>
				</div>
				<div class='box-3'>
					<div class='box-title'>
						Software Development
					</div>
					<ul class='bullets'>
					</ul>
				</div>
			</div>
		</div>
		<div class='hp-header-text-p2'> If you are working on something exciting that you really care about, you don’t have to be pushed. </div>
	 	<div class='hp-header-text-p3'>The vision pulls you.</div>
	 </div>
	<div id='circle'></div>
	<div class='hp-author'> -STEVE JOBS </div>
	<div class='hp-find'> <a href='/sullivan_resume.pdf' target="_blank"> RESUME.PDF </a>/ FIND ME HERE: </div>
	<div class='hp-social-links'> 
		<a href='https://angel.co/tylerscott' target="_blank"><i class='hp-icon fa fa-angellist fa-3x' aria-hidden="true"></i></a>
		<a href='https://www.linkedin.com/in/tyler-sullivan-25a551102'  target="_blank"><i class="hp-icon fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
		<a href='https://github.com/TylerScottSullivan'  target="_blank"><i class="hp-icon fa fa-github fa-3x" aria-hidden="true"></i></a>
	</div>
</div>