<div class='homepage'>
	<div class='hp-header'>
		<div class='hp-header-text-p1'> Tyler S. Sullivan </div>
		<div class='hp-boxes'>
			<div class='flex'>
				<div class='box-1'>
					<div class='box-title bt-c1'>
						Marketing
					</div>
					<ul class='bullets b1b'>
						<li> Content & Social Media Management </li>
						<li> Photoshop, Illustrator, & InDesign </li>
						<li> Industry & Competitor Analyses </li>
						<li> Customer Insights & Strategic Recommendations </li>
					</ul>
				</div>
				<div class='box-2'>
					<div class='box-title bt-c2'>
						Analytics
					</div>
					<ul class='bullets b2b'>
						<li> Python Scripting, SPSS, & VBA Macros </li>
						<li> Conjoint, Factor, Segmentation, & Cluster Analysis </li>
						<li> Focus Groups & Survey Design </li>
						<li> AB Testing </li>
					</ul>
				</div>
				<div class='box-3'>
					<div class='box-title bt-c3'>
						Software Development
					</div>
					<ul class='bullets b3b'>
						<li> JavaScript, HTML5, CSS3 </li>
						<li> ReactJS, sockets.io</li>
						<li> jQuery, AJAX </li>
						<li> NodeJS, Express, Java </li>
						<li> MongoDB & SQL </li>
					</ul>
				</div>
			</div>
		</div>
	 </div>
	<div id='circle'></div>
	<div class='hp-find'> <a href='/sullivan_resume.pdf' target="_blank"> RESUME.PDF </a>/ FIND ME HERE: </div>
	<div class='hp-social-links'> 
		<a href='https://angel.co/tylerscott' target="_blank"><i class='hp-icon fa fa-angellist fa-3x' aria-hidden="true"></i></a>
		<a href='https://www.linkedin.com/in/tyler-sullivan-25a551102'  target="_blank"><i class="hp-icon fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
		<a href='https://github.com/TylerScottSullivan'  target="_blank"><i class="hp-icon fa fa-github fa-3x" aria-hidden="true"></i></a>
	</div>
</div>