html, body {
  background-color: #0a0a0f;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: white;
  height: 100%;
  margin: 0;
}


.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hp-header > .hp-header-text-p1 {
	text-align: center;
	padding: 5% 10%;
}

.hp-header > .hp-header-text-p2 {
	text-align: center;
	padding: 5% 15% 2% 15%;
}

.hp-header > .hp-header-text-p3 {
	text-align: center;
	padding: 0 10% 2% 10%;
}

.hp-header-text-p1 {
	font-size: 100px;
	width: 800px;
}

.hp-header-text-p2 {
	width: 500px;
	margin: auto;
}

.hp-header-text-p2, .hp-header-text-p3 {
	font-size: 20px;
}

.hp-author {
	text-align: center;
	font-size: 15px;
}

.hp-find {
	font-size: 20px;
	margin-top: 50px;
}

.hp-resume {
	font-size: 25px;
	font-weight: 700;
	padding: 10px;

}

.hp-icon {
	padding: 10px;
}

.hp-boxes {
	width: 1000px;
	height: 500px;
}

.flex {
	width: 100%;	
	height: 100%;
/*	display: flex;
	justify-content: space-between;*/
}

.box-1 {
	position: absolute;
	margin-left: -100px;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	background-color: rgba(255, 255, 77, 0.9);
}

.box-2 {
	position: absolute;
	margin-left: 250px;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	background-color: rgba(255, 166, 77, 0.9);
}

.box-3 {
	position: absolute;
	margin-left: 600px;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	background-color: rgba(255, 77, 77, 0.9);
}

/*#circle {
    height: 300px;
    width: 300px;
    background-color: red;
}*/

@media (max-width: 650px) {
	.hp-header {
		margin-bottom: 50px;
	}
	
	.hp-header-text {
		font-size: 75px;
	}

	.hp-author {
		font-size: 40px;
	}

	.hp-icon {
		padding-bottom: 30px;
	}
}

a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
}
