html, body {
  background-color: #0a0a0f;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: white;
  height: 100%;
  margin: 0;
}


.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hp-header > .hp-header-text {
	text-align: center;
	padding: 10% 10% 3% 10%;

}

.hp-header-text {
	font-size: 120px;
}

.hp-author {
	text-align: center;
	font-size: 50px;
}

.hp-find {
	font-size: 20px;
	margin-top: 90px;
}

.hp-resume {
	font-size: 25px;
	font-weight: 700;
	padding: 10px;

}

.hp-icon {
	padding: 10px;
}


@media (max-width: 650px) {
	.hp-header {
		margin-bottom: 50px;
	}
	
	.hp-header-text {
		font-size: 75px;
	}

	.hp-author {
		font-size: 40px;
	}

	.hp-icon {
		padding-bottom: 30px;
	}
}

a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
}
