html, body {
  background-color: #0a0a0f;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: white;
  height: 100%;
  margin: 0;
}


.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hp-header > .hp-header-text-p1 {
	text-align: center;
	padding: 5% 10%;
}

.hp-header > .hp-header-text-p2 {
	text-align: center;
	padding: 5% 15% 2% 15%;
}

.hp-header > .hp-header-text-p3 {
	text-align: center;
	padding: 0 10% 2% 10%;
}

.hp-header-text-p1 {
	font-size: 100px;
	width: 800px;
}

.hp-header-text-p2 {
	width: 500px;
	margin: auto;
}

.hp-header-text-p2, .hp-header-text-p3 {
	font-size: 20px;
}

.hp-author {
	text-align: center;
	font-size: 15px;
}

.hp-find {
	font-size: 20px;
	margin-top: 50px;
}

.hp-resume {
	font-size: 25px;
	font-weight: 700;
	padding: 10px;

}

.hp-icon {
	padding: 10px;
}

.hp-boxes {
	width: 1000px;
	height: 500px;
}

.flex {
	width: 100%;	
	height: 100%;
/*	display: flex;
	justify-content: space-between;*/
}

.box-1 {
	z-index: 1;
	position: absolute;
	margin-left: -130px;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	background-color: rgba(255, 255, 77, 0.8);

	-webkit-transition: color 0.5s linear, background-color 0.5s linear;
    -moz-transition: color 0.5s linear, background-color 0.5s linear;
    -o-transition: color 0.5s linear, background-color 0.5s linear;
    transition: color 0.5s linear, background-color 0.5s linear;
}

.box-1:hover {
	background-color: rgba(255, 255, 77, .9);
	z-index: 5;
}

.box-2 {
	z-index: 2;
	position: absolute;
	margin-left: 250px;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	background-color: rgba(255, 166, 77, 0.8);

	-webkit-transition: color 0.5s linear, background-color 0.5s linear;
    -moz-transition: color 0.5s linear, background-color 0.5s linear;
    -o-transition: color 0.5s linear, background-color 0.5s linear;
    transition: color 0.5s linear, background-color 0.5s linear;
}

.box-2:hover {
	background-color: rgba(255, 166, 77, .9);
	z-index: 5;
}

.box-3 {
	z-index: 1;
	position: absolute;
	margin-left: 630px;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	background-color: rgba(255, 77, 77, 0.8);

	-webkit-transition: color 0.5s linear, background-color 0.5s linear;
    -moz-transition: color 0.5s linear, background-color 0.5s linear;
    -o-transition: color 0.5s linear, background-color 0.5s linear;
    transition: color 0.5s linear, background-color 0.5s linear;
}

.box-3:hover {
	background-color: rgba(255, 77, 77, .9);
	z-index: 5;
}

.box-title {
	position: relative;
	text-align: center;
	margin: auto;
/*	margin-top: 50px;
	margin-left: 100px;*/
	font-size: 50px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-top, border-left, border-right: none;
	border-bottom-width: 5px;
}

.bt-c1 {
	width: 260px;
}
.bt-c1, .bt-c2 {
	margin-top: 40px;
}

.bt-c2 {
	width: 260px;
}
.bt-c3 {
	margin-top: 20px;
	width: 330px;
}

.bullets {
	font-size: 20px;
	position: relative;
}


.b1b {
	margin-left: 50px;
	width: 280px;
}

.b1b > li {
	padding-top: 10px;
	padding-bottom: 15px;
}

.b2b {
	margin-left: 110px;
	width: 220px;
}

.b2b > li {
	padding-top: 10px;
	padding-bottom: 20px;
}

.b3b {
	margin-left: 120px;
	width: 250px;
}

.b3b > li {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*#circle {
    height: 300px;
    width: 300px;
    background-color: red;
}*/

@media (max-width: 650px) {
	.hp-header {
		margin-bottom: 50px;
	}
	
	.hp-header-text {
		font-size: 75px;
	}

	.hp-author {
		font-size: 40px;
	}

	.hp-icon {
		padding-bottom: 30px;
	}
}

a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
}
